<div id="skel-layers-wrapper"
  style="position: relative; left: 0px; right: 0px; top: 0px; backface-visibility: hidden; transition: -webkit-transform 0.25s ease-in-out 0s;">

  <router-outlet></router-outlet>

  <app-footer></app-footer>
</div>


<div id="skel-layers-hiddenWrapper" style="height: 100%;"></div>

<div id="skel-layers-visibleWrapper" style="position: relative;">
  <header id="header" class="skel-layers-fixed"
    style="backface-visibility: hidden; transition: -webkit-transform 0.25s ease-in-out 0s;">
    <h1><a href="#">Home Store</a></h1>

    <nav id="nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/introduction">Introduction</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/products">Produits</a></li>
        <li><a href="/subscribe" class="button special">Inscription</a></li>
      </ul>
    </nav>
  </header>
</div>